body {
  font-family: 'Ubuntu', sans-serif;
  color: $darkGray;
  background-color: $mainBeige;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $mainWhite;
}

