$mainWhite     : #ffffff;
$mainGreen     : #58B740;
$mainLightGreen: #CDDC39;
$mainRed       : #E0003C;
$mainOrange    : #F24B11;
$mainYellow    : #f2c830;
$mainBeige     : #F5F4F2;
$mainBlack     : black;
$darkGray      : #333;
$darkSlateGray : darkslategray;
$grid-breakpoints: (sm: 640px,
  md: 990px,
  lg: 1380px,
  xl: 1960px);