.sr-only {
    position   : absolute;
    width      : 1px;
    height     : 1px;
    padding    : 0;
    margin     : -1px;
    overflow   : hidden;
    clip       : rect(0, 0, 0, 0);
    white-space: nowrap;
    border     : 0;
}

.button {
    border          : none;
    background-color: $mainWhite;
    user-select     : none;
    cursor          : pointer;

    @include hover-focus-active {
        text-decoration: none;
        outline        : 0;
        box-shadow     : none;
    }

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.stuck {
    position: fixed !important;
    top     : 55px;
}

.run-animation {
    transform: scale(1.5);
}

.label {
    position     : relative;
    height       : 75px;
    width        : 75px;
    display      : inline-block;
    border       : 2px solid $mainWhite;
    border-radius: 50%;

    .check-icon:after {
        position        : absolute;
        content         : "";
        top             : 50%;
        left            : 12px;
        transform       : scaleX(-1) rotate(135deg);
        height          : 42px;
        width           : 20px;
        border-top      : 4px solid $mainWhite;
        border-right    : 4px solid $mainWhite;
        transform-origin: left top;
        animation       : check-icon 0.8s ease;
    }
}

.cross-icon {
    &::before {
        position        : absolute;
        content         : "";
        width           : 2px;
        left            : 20px;
        height          : 38px;
        bottom          : 21px;
        background-color: $mainWhite;
        transform       : rotate(45deg);
        transform-origin: bottom;
        border-radius   : 5px;
        animation       : cross-icon-before 0.8s ease;
    }

    &::after {
        position        : absolute;
        content         : "";
        width           : 2px;
        right           : 22px;
        height          : 38px;
        bottom          : 21px;
        background-color: $mainWhite;
        transform       : scaleX(-1) rotate(45deg);
        transform-origin: bottom;
        border-radius   : 5px;
        animation       : cross-icon-after 0.8s ease;
    }
}


.sa {
    width  : 140px;
    height : 140px;
    padding: 26px;
    margin : auto;

    &-warning {
        border-radius: 50%;
        border       : 4px solid white;
        box-sizing   : content-box;
        height       : 80px;
        padding      : 0;
        position     : relative;
        width        : 80px;
        animation    : scaleWarning 0.75s infinite alternate;

        &:after,
        &:before {
            content      : '';
            border-radius: 50%;
            height       : 100%;
            position     : absolute;
            width        : 100%;
        }

        &:before {
            display         : inline-block;
            opacity         : 0;
            top             : 50%;
            position        : absolute;
            left            : 50%;
            transform       : translate(-50%, -50%);
            transform-origin: 0 0;
            animation       : pulseWarning 2s linear infinite;
        }

        &:after {
            display         : block;
            z-index         : 1;
            background-color: $realOrange;
        }

        &-body {
            background-color: #F8BB86;
            border-radius   : 2px;
            height          : 47px;
            left            : 50%;
            margin-left     : -2px;
            position        : absolute;
            top             : 10px;
            width           : 5px;
            z-index         : 2;
            animation       : pulseWarningIns 0.75s infinite alternate;

        }

        &-dot {
            background-color: #F8BB86;
            border-radius   : 50%;
            bottom          : 10px;
            height          : 7px;
            left            : 50%;
            margin-left     : -3px;
            position        : absolute;
            width           : 7px;
            z-index         : 2;
            animation       : pulseWarningIns 0.75s infinite alternate;

        }
    }
}