.loader {
    color          : $mainGreen;
    font-size      : 10px;
    margin         : 0 auto 20px auto;
    position       : relative;
    text-indent    : -9999em;
    transform      : translateZ(0);
    animation-delay: -0.16s;

    border-radius      : 50%;
    width              : 2.5em;
    height             : 2.5em;
    animation-fill-mode: both;
    animation          : load7 1.8s infinite ease-in-out;

    &__container {
        height   : 100px;
        position : fixed;
        left     : 50%;
        top      : 50%;
        transform: translate(-50%, -50%);
        z-index  : 1060;
    }

    &:before {
        border-radius          : 50%;
        width                  : 2.5em;
        height                 : 2.5em;
        animation-fill-mode    : both;
        animation              : load7 1.8s infinite ease-in-out;
        content                : '';
        position               : absolute;
        top                    : 0;
        left                   : -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay        : -0.32s;
    }

    &::after {
        border-radius      : 50%;
        width              : 2.5em;
        height             : 2.5em;
        animation-fill-mode: both;
        animation          : load7 1.8s infinite ease-in-out;
        content            : '';
        position           : absolute;
        top                : 0;
        left               : 3.5em;

    }
}