
.navbar{
    width: 100%;
    background-color: $mainGreen;
    border-radius: 0 0px 30px 30px;
    &__top{
        position: relative;
        display: flex;
        align-items: center;
        height: 63px;
        font-size: 1rem;
        padding: 0 1.25rem;
        margin: 0;
        border-bottom: 1px solid rgba($mainWhite, 0.7);
        @include media-breakpoint-up(xs,(xs:420px)) {
            justify-content: flex-end;

        }
        &__brand{
            height: 40px;
            width: 120px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            @include media-breakpoint-up(xs,(xs:420px)) {
                margin-left: 20px;
                top: 50%;
                transform: translate(0, -50%);
                left: 0;
            }

        }
        &__list{
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include media-breakpoint-up(xs,(xs:420px)) {
                justify-content: flex-end;
            }
        }
        &__link{
            &:last-child{
                margin-left: 20px;
                @include media-breakpoint-up(xs,(xs:420px)) {
                    display: inline-block;
                }
            }
            &:hover{
                color: rgba($darkGray, .7);
            }
            &__title{
                vertical-align: middle;
                display: none;
                @include media-breakpoint-up(xs,(xs:420px)) {
                    display: inline-block;
                }
            }
            
        }
        
        [class^="icon-"]{
            font-weight: 700;
            font-size: 1.5rem;
            margin-right: 2px;
            &:before{
                vertical-align: sub;
            }
        }
        li{
            list-style: none;
        }
    }
    &__bottom{
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__icon{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 80px;
            margin: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: $mainWhite;
            @include hover-focus-active{
                color: $mainRed;
            }

            [class^="icon-"]{
                font-size: 1.7rem;
                margin-bottom: 5px;
            }

            span{
                display: inline-block;
                text-align: center;
                font-size: 12px;
            }
        }

    }
}