.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}
